/* Basic styling */

h4, h6, .title {
  font-family: 'Elsie', cursive;
}

footer {
  left: auto;
  right: auto;
  margin: 1%;
  text-align: center;
}

.title {
  margin-left: -5%;
  font-weight: bold;
}

/* Navbar */

nav {
  margin-bottom: 3%;
}

.nav-link, .nav-item {
  font-family: 'Varela Round', sans-serif;
  margin: -1% 0;
  font-size: 1.5em;
}

.nav-item, li, h5, p {
  font-family: 'Varela Round', sans-serif;
}

.welcome, .row {
  align-content: center;
}

/* Main component styling */

.announcement, .links, .card {
  margin-top: .4em;
}

.empty {
  padding: 2px;
}

.links, .welcome-msg {
  background-color: #fff;
}

.welcome-msg {
  margin: .5em;
  opacity: .9;
  min-height: 15rem;
  max-height: 100%;
}

.welcome-blurb {
  min-height: 15rem;
  max-height: 16rem;
  overflow: auto;
}

.card {
  width: 18rem;
  border-radius: 20px;
  clear: both;
}

.announce-pic {
  border: 7px solid #fff;
  border-radius: 20px;
  opacity: .9;
}

.Main {
  margin-top: -4em;
}

.together {
  width: 100%;
  max-width: 700px;
  border: 2px solid #fff;
  border-radius: 20px;
  border-radius: 20px;
  opacity: .9;
  min-height: 20rem;
  max-height: 22rem;
}

.lineup-row {
  background-color: #4A4A4B;
  width: 100%;
  margin: 0 !important;
}

.updates-blog {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.video-player {
  margin-top: 1em;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  height: 30em;
}

.react-player {
  margin: auto;
}

.puppy-lineup {
  margin: 2% 6%;
  opacity: 1;
  /* height: 20em; */
}

.lineup {
  width: 25%;
  border: 2px solid #fff;
  border-radius: 10px;
}

.puppy-pumpkin {
  width: 40%;
  border: 8px solid #fff;
  border-radius: 20px;
  opacity: .9;
  margin: 1%;
  opacity: .9;
}

.bold {
  font-weight: bolder;
}

li {
  list-style: none;
  margin-left: -10%;
}

a {
  color: #7C7C7D;
}

a:hover {
  color: #4A4A4B;
  text-decoration: none;
}

.display {
  margin-top: 9%;
  align-items: center;
  height: auto;
  color: black;
  background-color: #f2f2f2;
  /* background-image: url(./images/tapestry.png); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

.carousel-inner {
  border: 10px solid #fff;
  border-radius: 20px;
  margin: 2%;
}

.slider-wrapper {
  background-color: #f2f2f2;
  padding: 2%;
}

.welcome, .Application, .Contact {
  align-content: center;
  align-items: center;
}

.welcome-msg, .links {
  padding: 1%;
  border: 10px solid #fff;
  border-radius: 20px;
}

.btn-secondary {
  align-self: center;
  border-radius: 20px;
}

.playing-image, .green-toy, .puppy-bio-image {
  margin: 1% 1%;
  border: 10px solid #fff;
  border-radius: 20px;
  opacity: .9;
}

/* hiding in case we need it for later */

/* .puppy-name {
  font-weight: bold;
  font-size: 110%;
  font-family: 'Varela Round', sans-serif;
} */

/* Styling for slideshow */

.d-block {
  height: auto;
}

.picholder {
  background-color: #7C7C7D;
  min-height: 470px;
  max-height: 478px;
}

.portrait {
  margin: 0 auto;
  width: auto;
  min-height: auto;
  max-height: 478px;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* Styling for contact and application forms */

form {
  margin: 10%;
}

textarea {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}

.select {
  width: 10%;
  margin: 0 -10 0 10%;
}

.text-input, label {
  width: 90%;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}

.new-q {
  margin-top: 4%;
}

label {
  margin-bottom: -1%;
  font-family: 'Varela Round', sans-serif;
}

textarea, .text-input {
  margin-bottom: 4%;
}

.survey-question, p {
  margin: 3% 0 -1% 0;
  font-family: 'Varela Round', sans-serif;
}

.select:focus
/* input:valid, */

input:focus,
/* textarea:valid, */

textarea:focus {
  border-bottom: 2px solid #4e899c;
}

/* Mobile view optimization */

@media (max-width: 767.98px) {
  .together, .welcome-msg, .welcome-blurb {
    min-height: auto;
    max-height: none;
    width: 100%;
  }
  .welcome-msg {
    /* margin: 1% -1% 1% 1%; */
  }
  .display {
    margin: 25% 1%;
  }
  .slide {
    margin: 0 5%;
    background-size: 'cover';
    background-repeat: 'no-repeat';
  }
  .green-toy {
    width: 200px;
    height: 200px;
  }
  .puppy-pumpkin {
    width: 60%;
  }
  .puppy-bio-image {
    width: 100%;
    margin: 2%;
  }
  .text-input, textarea {
    width: 100%;
  }
  .card {
    width: 10rem;
    border-radius: 20px;
    margin: 2%;
  }
  .portrait {
    height: 18em;
  }
  .picholder {
    background-color: #7C7C7D;
    min-height: 178px;
    max-height: 18em;
  }
}

@media (min-width: 768px) {
  .display {
    margin: 13% 1%;
  }
  .puppy-bio-image {
    margin: 2%;
    width: 100%;
  }
  .picholder {
    background-color: #7C7C7D;
    min-height: 300px;
    max-height: 478px;
  }
}

@media (min-width: 1088px) {
  .display {
    margin: 10% 1%;
  }
  .picholder {
    background-color: #7C7C7D;
    min-height: 478px;
    max-height: 18em;
  }
}