/* .App {
  text-align: center;
} */

h4 {
  font-family: 'Elsie', cursive;

}

.nav-link {
  font-family: 'Varela Round', sans-serif;
}

.display {
  margin-top: 7%;
  align-items: center;
  /* height: 30em; */
  color: black;
  background-color: #f2f2f2;
}

.welcome {
  align-content: center;
}

.playing-image, .green-toy {
  margin: 1% 15%;
  border: 10px solid #fff;
  border-radius: 20px;
  opacity: .8;
}

textarea {
  /* margin: 0 0 0 10px; */
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}

.select {
  width: 10%;
  margin: 0 -10 0 10%;
}

.text-input, label {
  /* text-align: left; */
  width: 90%;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}

label {
  margin-bottom: -1%;
  font-family: 'Varela Round', sans-serif;
}

textarea, .text-input {
  margin-bottom: 4%;
}

.survey-question {
  margin: 3% 0 -1% 0;
  font-family: 'Varela Round', sans-serif;
}

.select:focus
/* input:valid, */
input:focus,
/* textarea:valid, */
textarea:focus {
  border-bottom: 2px solid #4e899c;  
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

@media (max-width: 767.98px) {
  .display {
    margin: 20% 10%;
  }
}